@model Bela.UI.Models.Usuario

@{
    ViewBag.Title = "Liceo de puriscal-Login";
    Layout = "~/Views/Shared/_Usuario.cshtml";
}


@using (Html.BeginForm("Login", "Usuario", FormMethod.Post))
{
    Html.ValidationSummary(true);
    Html.EnableClientValidation(true);


    <section class="section-padding" id="contact">
        <div class="container">

            <div class="row white">
                <div class="col-md-8 col-md-offset-2">
                    <div class="section-title">
                        <h2 class="head-title black">Login</h2>
                    </div>
                </div>
                <div class="col-md-11 col-md-offset-1">
                    <div class="col-md-4 col-sm-6">
                        <h3 class="cont-title-login">Ingrese nombre de usuario y contraseña</h3>
                        <h4 class="cont-login-message">@ViewData["mensajeLogin"]</h4>
                        <div id="errormessage"></div>
                        <div class="contact-info">
                            <form action="" method="post" role="form" class="contactForm">

                                <div class="form-group">
                                    @Html.TextBoxFor(x => x.usuario, new { @class = "form-control", @name = "usuario", @placeholder = "Usuario" })
                                    @Html.ValidationMessageFor(model => model.usuario)
                                </div>

                                <div class="form-group">
                                    @Html.TextBoxFor(x => x.contrasena, new { @type = "password", @class = "form-control", @name = "contrasena", id = "contrasena", @placeholder = "Contraseña" })
                                    @Html.ValidationMessageFor(model => model.contrasena)
                                </div>



                                <button type="submit" class="btn btn-ghost">Ingresar</button>

                            </form>
                        </div>

                    </div>

                    <div class=" container col-md-6">
                        <div class="user-icon-container hidden-md hidden-sm hidden-xs">
                            <span aria-hidden="true" class="glyphicon glyphicon-user"></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

}

<br />
<br />
<br />
<br />