
@{
    ViewBag.Title = "Liceo de puriscal";
    List<Bela.Datos.EstudianteSeccionDeta> lista = (List<Bela.Datos.EstudianteSeccionDeta>)ViewBag.EstudianteList;
}
<div class="container">
    <div class="row">

        <div class="col-md-12">
            <div class="text-center"><h2 class="titulos">Administrar Secciones</h2></div>

            <div class="table-responsive">

                <table id="example" class="table table-striped table-bordered" style="width:100%">
                    <thead>
                        <tr>
                            <th>Nombre</th>
                            <th>Apellido1</th>
                            <th>Apellido2</th>
                            <th>Cedula</th>
                            <th>Seccion</th>
                            <th>Modifica Seccion</th>
                            @*<th>Eliminar</th>*@
                        </tr>
                    </thead>
                    <tbody>

                        @foreach (var item in lista)
                        {
                            <tr>
                                <td>@Html.DisplayFor(modelItem => item.nombre)</td>
                                <td>@Html.DisplayFor(modelItem => item.apellido1)</td>
                                <td>@Html.DisplayFor(modelItem => item.apellido2)</td>
                                <td>@Html.DisplayFor(modelItem => item.cedula)</td>
                                <td>@Html.DisplayFor(modelItem => item.Seccion)</td>
                                <td><button class="btn btn-warning" onclick="Modificar('@item.idUsuario','@item.nombre','@item.Seccion')">Modificar Seccion</button></td>
                            </tr>
                        }
                    </tbody>
                    <tfoot>
                        <tr>
                            <th>Nombre</th>
                            <th>Apellido1</th>
                            <th>Apellido2</th>
                            <th>Cedula</th>
                            <th>Seccion</th>
                            <th>Modificar</th>
                            @*<th>Eliminar</th>*@
                        </tr>
                    </tfoot>
                </table>

            </div>
        </div>
    </div>
</div>