<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>@ViewBag.Title - Inicio</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <link href="~/Content/animated.css" rel="stylesheet" />
    <link href="~/Content/fontawesome.css" rel="stylesheet" />
    <link href="https://use.fontawesome.com/releases/v5.0.6/css/all.css" rel="stylesheet">
    <link href="~/Content/main.css" rel="stylesheet" />
    <link href="~/Content/responsive.css" rel="stylesheet" />
    <link href="~/Content/style.css" rel="stylesheet" />
    <link href="~/Content/scroll-up.css" rel="stylesheet" />

</head>

<body>
    <header class="main-header" id="header">
        <div class="bg-color">
            <!--nav-->
            <nav class="nav navbar-default navbar-fixed-top">
                <div class="container">
                    <div class="col-md-12">
                        <div class="navbar-header">
                            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#mynavbar" aria-expanded="false" aria-controls="navbar">
                                <span class="fa fa-bars"></span>
                            </button>
                         
                            @Html.ActionLink("Liceo de Puriscal", "Index", "Home",null, new { @class = "navbar-brand" })
                        </div>
                        <div class="collapse navbar-collapse navbar-right" id="mynavbar">
                            <ul class="nav navbar-nav">
                                <li class="active">@Html.ActionLink("Inicio","Index","Home")</li>
                                <li>@Html.ActionLink("Noticias", "Noticias", "Noticia")</li>
                                <li><a href="#1">Información</a></li>
                                <li>@Html.ActionLink("Contacto", "EnvioMensaje", "Contacto")</li>

                                @if (Session["UserID"] != null && Session["rol"].Equals("Administrador"))
                                {
                                    <li>@Html.ActionLink("Perfil", "Inicio", "Admin")</li>
                                }   

                                @if (Session["UserID"] != null && Session["rol"].Equals("Profesor"))
                                {
                                    <li>@Html.ActionLink("Perfil", "Inicio", "Profesor")</li>
                                } 

                                @if (Session["UserID"] != null && Session["rol"].Equals("Estudiante"))
                                {
                                    <li>@Html.ActionLink("Perfil", "Inicio", "Estudiante")</li>
                                } 

                                @if (Session["UserID"] != null)
                                {
                                    <li>@Html.ActionLink("Salir", "Salir", "Usuario")</li>
                                }
                                else { 
                                <li>@Html.ActionLink("Login","Login","Usuario")</li>
                                }
                            </ul>
                        </div>
                    </div>
                </div>
            </nav>
            <!--/ nav-->
            <div class="container text-center">
                <div class="wrapper wow fadeInUp delay-05s">
                    <h3 class="title titulo-height">Liceo de Puriscal</h3>
                    <h4 class="sub-title">La educacion para un futuro mejor</h4>

                </div>
            </div>
        </div>
    </header>
    <!--/ header-->
    <!---->



    <div class="">
        @RenderBody()
        <hr />

    </div>
    
    <!--FOOTER-->
    @Html.Partial("_FooterPartial")


    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
    <script src="~/Scripts/wow.js"></script>
    <script src="~/Scripts/custom.js"></script>
    <script src="~/Scripts/main.js"></script>
    <script src="~/Scripts/jquery.easing.min.js"></script>
    <script src="~/Scripts/scrolling.js"></script>


</body>
</html>
