<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Noticias</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <link href="~/Content/style2.css" rel="stylesheet" />
    <link href="~/Content/animated.css" rel="stylesheet" />
    <link href="https://use.fontawesome.com/releases/v5.0.6/css/all.css" rel="stylesheet">
    <link href="~/Content/lightboxmin.css" rel="stylesheet" />
    <link href="~/Content/styleNoticias.css" rel="stylesheet" />

</head>
<body>
    <header class="main-header" id="header">
        <div class="bg-color">
            <!--nav-->
            <nav class="nav navbar-default navbar-fixed-top">
                <div class="container">
                    <div class="col-md-12">
                        <div class="navbar-header">
                            <button type="button" class="navbar-toggle navbar-btn" data-toggle="collapse" data-target="#mynavbar" aria-expanded="false" aria-controls="navbar">
                                <span class="glyphicon glyphicon-align-justify"></span>
                            </button>
                            @Html.ActionLink("Liceo de Puriscal", "Index", "Home", null, new { @class = "navbar-brand" })
                        </div>
                        <div class="collapse navbar-collapse navbar-right" id="mynavbar">
                            <ul class="nav navbar-nav">
                                <li>@Html.ActionLink("Inicio", "Index", "Home")</li>
                                <li class="active">@Html.ActionLink("Noticias", "Noticias", "Noticia")</li>
                                <li>@Html.ActionLink("Contacto", "EnvioMensaje", "Contacto")</li>

                                @if (Session["UserID"] != null && Session["rol"].Equals("Administrador"))
                                {
                                    <li>@Html.ActionLink("Perfil", "Inicio", "Admin")</li>
                                }

                                @if (Session["UserID"] != null && Session["rol"].Equals("Profesor"))
                                {
                                    <li>@Html.ActionLink("Perfil", "Inicio", "Profesor")</li>
                                }

                                @if (Session["UserID"] != null && Session["rol"].Equals("Estudiante"))
                                {
                                    <li>@Html.ActionLink("Perfil", "Inicio", "Estudiante")</li>
                                }

                                @if (Session["UserID"] != null)
                                {
                                    <li>@Html.ActionLink("Salir", "Salir", "Usuario")</li>
                                }
                                else
                                {
                                    <li>@Html.ActionLink("Login", "Login", "Usuario")</li>
                                }
                            </ul>
                        </div>
                    </div>
                </div>
            </nav>
            <!--/ nav-->
        </div>
    </header>

    <div class="container body-content">
        @RenderBody()
        <hr />

    </div>

    <footer class="" id="footer">
        <div class="container">
            <div class="row">
                <div class="col-sm-7 footer-copyright">
                    © Liceo de Puriscal - Todos los derechos reservados
                    <div class="credits">
                        Creado por <a href="https://ufidelitas.ac.cr/">Estudiantes UFIDELITAS</a>
                    </div>
                </div>
                <div class="col-sm-5 footer-social">
                    <div class="pull-right hidden-xs hidden-sm">
                        <a href="https://www.facebook.com/pg/liceodepuriscalOFICIAL/posts/?ref=page_internal" title="Facebook"><i class="fab fa-facebook-square fa-2x"></i></a>
                        @*<a href="#"><i class="fab fa-twitter fa-2x"></i></a>
                            <a href="#"><i class="fab fa-google-plus fa-2x"></i></a>
                            <a href="#"><i class="fab fa-pinterest fa-2x"></i></a>*@
                        <a href="https://wego.here.com/directions/mix//Liceo-de-Puriscal,-114001-Santiago:e-eyJuYW1lIjoiTGljZW8gZGUgUHVyaXNjYWwiLCJhZGRyZXNzIjoiMTE0MDAxIFNhbnRpYWdvLCBTYW4gSm9zZSwgQ29zdGEgUmljYSIsImxhdGl0dWRlIjo5Ljg0NzM2MjM1MDIyODQsImxvbmdpdHVkZSI6LTg0LjMxMzEyNDMyMTU1NCwicHJvdmlkZXJOYW1lIjoiZmFjZWJvb2siLCJwcm92aWRlcklkIjo0Mzc3NzI2NTI5OTU3OTN9?map=9.84736,-84.31312,15,normal&fb_locale=es_LA" title="Ubicacion"><i class="fas fa-map-marker-alt fa-2x"></i></i></a>
                    </div>
                </div>
            </div>
        </div>
    </footer>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
    <script src="~/Scripts/wow.js"></script>
    <script src="~/Scripts/custom.js"></script>
    <script src="~/Scripts/main.js"></script>
    <script src="~/Scripts/lightboxmin.js"></script>
</body>
</html>
