@{
    List<Bela.Datos.MateriaProf> lista = (List<Bela.Datos.MateriaProf>)ViewBag.Materia;
}


<div class="table-responsive">
    <table class="table table-sm">
        <thead>
            <tr>

                <th scope="col">Seccion</th>
                <th scope="col">Materia</th>
                <th scope="col">Eliminar</th>

            </tr>
        </thead>
        <tbody>

            @foreach (var item in lista)
            {
                <tr>
                    <td>@Html.DisplayFor(modelItem => item.nomSeccion)</td>
                    <td>@Html.DisplayFor(modelItem => item.nomMateria)</td>
                    <td><button id="delele" class="btn btn-danger btn-sm" onclick="Delele('@item.idPrMa','@item.nomMateria','@item.nomSeccion')">Eliminar</button></td>
                </tr>
            }

        </tbody>
    </table>
</div>


 







<script>
   
    
    function Delele(ID,MATERIA,SECCION) {

        $('#Eli').modal('show');
        $('#MensajeEliminarMateria').text('Esta seguro que desea eliminar: ' + MATERIA + ' ' + SECCION);
       

        $("#AceptarEliminar").off().click(function () { 
            $('#Eli').modal('hide');
                $.ajax({
                    type: "POST",
                    contentType: "application/json;charset=utf-8",
                    url: '@Url.Action("EliminarMateria", "Admin")',
                    data: "{'idMateria':'" + ID + "'}",
                    dataType: "json",
                    success: function (data) {
                        var idProfesorA = $("#idPersona").val();
                        var url="@Url.Action("VerSecciones", "Admin")";
                        var data={idProfesor:idProfesorA}

                        $.post(url, data).done(function (data) {
                            $("#getSecciones").html(data);
                        });

                    },
                    error: function (data) {
                        alert("Error: " + data.responseText);
                    }
                });
            
        });
    }

    function loadData() {
        $.ajax({

            error: function (errormessage) {
                alert(errormessage.responseText);
            }
        });
    }

</script>