@model IEnumerable<Bela.UI.Models.MateriaDeta>

@{
    ViewBag.Title = "Liceo de puriscal";
    Layout = "~/Views/Shared/_Perfil.cshtml";
}

<div class="container text-center">
    <h1 class="titulos"> Bienvenido Estudiante @Session["UserNombre"].ToString()</h1>
</div>



<section id="experience" class="mismaterias">
    <div class="container">
        <div class="heading">
            <h2>Materias</h2>
            <h3>Esta al tanto de cada una de tus materias</h3>
        </div>

        @foreach (var item in Model)
        {

            <div class="row media materia-bor">
                <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3" onclick="location.href='@Url.Action("ListaMateriales","Material", new {idDetalleMateria=item.idDetalleMateria })'">
                    <div class="materias-ico parrafos">
                        Materia: @Html.DisplayFor(modelItem => item.materia)
                    </div>
                </div>
                <div class="materias-desc col-xs-12 col-sm-9 col-md-9 col-lg-9 parrafos"  onclick="location.href='@Url.Action("ListaMateriales","Material", new {idDetalleMateria=item.idDetalleMateria })'">
                    <h4>Seccion: @Html.DisplayFor(modelItem => item.seccion)</h4>
                    <h5>Profesor: @Html.DisplayFor(modelItem => item.nomProfesor)</h5>
                    <p>
                        ultimo  Mensaje
                    </p>
                </div>
            </div>



        }
    </div>
</section>
