@model IEnumerable<Bela.UI.Models.MateriaDeta>

@{
    ViewBag.Title = "Liceo de puriscal";
    Layout = "~/Views/Shared/_Perfil.cshtml";
}

<script src="~/Scripts/jquery-1.10.2.js"></script>
<link href="~/Content/bodyInicioEst.css" rel="stylesheet" />
<div class="container text-center">
    <p><span class="fas fa-user  iconInicioUser"></span></p>
    <h1 class="titulos">Estudiante: @Session["UserNombre"].ToString() @Session["UserApellido1"] @Session["UserApellido2"] </h1>
    <h2>Materias</h2>

    <p  style="font-size:20px;"><span class="glyphicon glyphicon-chevron-down"></span></p>
  
</div>



<section id="experience" class="mismaterias" style="background-color: #FAFAFA; ">
    <div class="container">
        <div class="box">
            @foreach (var item in Model)
            {

                <div class="row media materia-bor">
                    <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3" onclick="location.href='@Url.Action("ListaMateriales","Material", new {idDetalleMateria=item.idDetalleMateria })'">
                        <div class="materias-ico parrafos">
                            @Html.DisplayFor(modelItem => item.materia)
                        </div>
                    </div>
                    <div class="materias-desc col-xs-12 col-sm-9 col-md-9 col-lg-9 parrafos" onclick="location.href='@Url.Action("ListaMateriales","Material", new {idDetalleMateria=item.idDetalleMateria })'">
                        <h4>Seccion: @Html.DisplayFor(modelItem => item.seccion)</h4>
                        <h5>Profesor: @Html.DisplayFor(modelItem => item.nomProfesor)</h5>
                    </div>
                </div>



            }
        </div>
        </div>
</section>


<a href="#" class="scrollup"><i id="sc" class="fas fa-chevron-up icon-square icon-bgdark icon-2x"></i></a>



<script src="~/Scripts/scroll-up.js"></script>
