@model Bela.UI.Models.Noticia

@{
    ViewBag.Title = "Liceo de puriscal";
    Layout = "~/Views/Shared/_Perfil.cshtml";
    //List<>
}

<div id="wrapper">
    <div class="overlay"></div>

    <nav class="navbar navbar-inverse navbar-fixed-top menu" id="sidebar-wrapper" role="navigation">
        <ul class="nav sidebar-nav">
            <li class="sidebar-brand">
                <a href="#">
                    Menu
                </a>
            </li>
            <li>
                @Html.ActionLink("Inicio", "Inicio", "Admin")
            </li>
            <li>
                @Html.ActionLink("Crear Noticia", "CrearNoticia", "Admin", null, new { @class = "activeMenu" })
            </li>
            <li>
                @Html.ActionLink("Mensajes", "Mensajes", "Admin")
            </li>
            <li>
                @Html.ActionLink("NoticiasInternas", "NoticiasInternas", "Noticia")
            </li>
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Cuentas<span class="caret"></span></a>
                <ul class="dropdown-menu" role="menu">
                    <li class="dropdown-header">Opciones</li>
                    <li>@Html.ActionLink("Crear Cuenta", "CrearCuenta", "Admin")</li>
                    <li>@Html.ActionLink("Administrar Cuentas", "Cuentas", "Admin")</li>
                    <li>@Html.ActionLink("Mi Cuenta", "MiCuenta", "Usuario")</li>
                </ul>
            </li>
        </ul>
    </nav>
    <!-- /#sidebar-wrapper -->
    <!-- Page Content -->
    <div id="page-content-wrapper">
        <button type="button" class="hamburger is-closed menubtn" data-toggle="offcanvas">
            <span class="hamb-top"></span>
            <span class="hamb-middle"></span>
            <span class="hamb-bottom"></span>
        </button>

        @if (TempData["mensajeError"] != null && TempData["mensajeError"].Equals("Error"))
        {
            <div class="container">
                <div id="Mensaje">
                    <div class=" alert alert-danger alert-dismissable">
                        <button type="button" class="close" data-dismiss="alert">&times;</button>
                        <strong>Ingrese la imagen obligatoria</strong>
                    </div>
                </div>
            </div>

        }
        else if (TempData["estado"] != null && TempData["estado"].Equals("Noticia creada"))
        {
            <div class="container">
                <div id="Mensaje">
                    <div class=" alert alert-success alert-dismissable">
                        <button type="button" class="close" data-dismiss="alert">&times;</button>
                        <strong>Noticia Creada</strong>
                    </div>
                </div>
            </div>

        }
        



        <div class="text-center">
            <h2>@ViewData["mensajeAdmin"]</h2>
        </div>

        @using (Html.BeginForm("CrearNoticia", "Admin", FormMethod.Post, new { enctype = "multipart/form-data" }))
        {
            Html.ValidationSummary(true);
            Html.EnableClientValidation(true);


            <section class="section-padding" id="contact">
                <div class="container">
                    @if (@ViewData["mensajeNoticia"] != null)
                    {
                        <div class="text-center" style="color:green;">Noticia creada</div>
                    }

                    <div class="row white">
                        <div class="col-md-8 col-md-offset-4">
                            <div class="section-title">
                                <h2 class="head-title black">Crear Noticia</h2>
                            </div>
                        </div>
                        <div class="col-md-11 col-md-offset-4">
                            <div class="col-md-4 col-sm-6" style="padding-left:0px;">
                                <h3 class="cont-title-login">Ingrese los datos necesarios para la creacion de la noticia</h3>

                                <div class="contact-info">
                                    <form action="" method="post" role="form" class="contactForm" enctype="multipart/form-data">

                                        <div class="form-group">
                                            @Html.Label("Tipo noticia")
                                            @Html.DropDownList("dropIdTipo", (SelectList)ViewBag.Tipos, "Seleccione Tipo", new
                                       {
                                           @class = "form-control",
                                           required = "",
                                           oninvalid = "this.setCustomValidity('Seleccione una opcion')",
                                           oninput = "setCustomValidity('')"
                                       })
                                        </div>

                                        <div class=" form-group">
                                            @Html.Label("Titulo")
                                            @Html.TextBoxFor(x => x.titulo, new
                                       {
                                           @class = "form-control",
                                           @name = "titulo",
                                           @placeholder = "Titulo",
                                           required = "",
                                           oninvalid = "this.setCustomValidity('Ingrese un titulo')",
                                           oninput = "setCustomValidity('')"
                                       })
                                            @Html.ValidationMessageFor(model => model.titulo)
                                        </div>

                                        <div class="form-group">
                                            @Html.Label("Descripcion")
                                            @Html.TextArea("txtDescripcion", null, new
                                       {
                                           @class = "form-control",
                                           @placeholder = "Descripcion",
                                           required = "",
                                           oninvalid = "this.setCustomValidity('Ingrese una descripcion')",
                                           oninput = "setCustomValidity('')"
                                       })

                                          
                                        </div>

                                        <div class="form-group">
                                            @Html.Label("Contenido")
                                            @Html.TextArea("txtContenido", null, new
                                       {
                                           @class = "form-control",
                                           @placeholder = "Contenido",
                                           required = "",
                                           oninvalid = "this.setCustomValidity('Ingrese el contenido')",
                                           oninput = "setCustomValidity('')"
                                       })
                                        </div>

                                        <div class="form-group">
                                            <label>Imagen  -Obligatoria</label>
                                            <input type="text" id="txtImagen" name="txtImagen" class="form-control"  required oninvalid="this.setCustomValidity('Ingrese una imagen')" oninput="setCustomValidity('')" />
                                            <input type="file" onchange="cambiar()" name="uploadFile" id="file" class="form-control" style="display:none;" />
                                            <div class="text-center">
                                                <input type="button" value="Adjuntar Imagen" class="btn btn-ghost" onclick="adjuntarImagen()" />
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <label>Imagenes adicionales</label>
                                            <br>
                                            <input type="file" onchange="" name="uploadfiles" id="files" class="form-control" multiple style="display:none;" />
                                            <div class="text-center">
                                                <input type="button" value="Adjuntar imagenes" class="btn btn-ghost" onclick="adjuntarImagenes()" />
                                            </div>
                                        </div>

                                        <button type="submit" class="btn btn-crear">Crear Noticia</button>

                                    </form>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </section>

        }

    </div>
    <!-- /#page-content-wrapper -->
</div>
<!-- /#wrapper -->


<script>

    window.onload = function () {
        $("#Mensaje").fadeOut(4000);
    }

    function adjuntarImagen() {
        document.getElementById('file').click();
        document.getElementById('txtImagen').readOnly = true;

    }

    function adjuntarImagenes() {
        document.getElementById('files').click();

    }

    function cambiar() {
        var reader = new FileReader();
        document.getElementById('txtImagen').value = document.getElementById('file').value;
        document.getElementById('Img').src = document.getElementById('txtImagen').value;
        reader.readAsDataURL(this.files[0]);
    }


    function mostrarImagen(input) {
        if (input.files && input.files[0]) {
            var reader = new FileReader();
            reader.onload = function (e) {
                $('#Img').attr('src', e.target.result);
            }
            reader.readAsDataURL(input.files[0]);
        }
    }

    $("#file").change(function () {
        mostrarImagen(this);
    });



</script>