@model Bela.UI.Models.Usuario

@{
    ViewBag.Title = "Liceo de puriscal";
    Layout = "~/Views/Shared/_Perfil.cshtml";

}

<link href="~/Content/checkbox.css" rel="stylesheet" />
<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/font-awesome/4.2.0/css/font-awesome.min.css">
<link href="~/Content/MessageBox.css" rel="stylesheet" />

<div id="wrapper">
    <div class="overlay"></div>

    <!-- Sidebar -->
    <nav class="navbar navbar-inverse navbar-fixed-top menu" id="sidebar-wrapper" role="navigation">
        <ul class="nav sidebar-nav">
            <li class="sidebar-brand">
                <a href="#">
                    Menu
                </a>
            </li>
            <li>
                @Html.ActionLink("Inicio", "Inicio", "Admin")
            </li>
            <li>
                @Html.ActionLink("Crear Noticia", "CrearNoticia", "Admin", null)
            </li>
            <li>
                @Html.ActionLink("Mensajes", "CrearNoticia", "Admin")
            </li>
            <li>
                @Html.ActionLink("NoticiasInternas", "NoticiasInternas", "Noticia")
            </li>
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Cuentas<span class="caret"></span></a>
                <ul class="dropdown-menu" role="menu">
                    <li class="dropdown-header">Opciones</li>
                    <li>@Html.ActionLink("Crear Cuenta", "CrearCuenta", "Admin")</li>
                    <li>@Html.ActionLink("Administrar Cuentas", "Cuentas", "Admin", null, new { @class = "activeMenu" })</li>
                    <li>@Html.ActionLink("Adminitrar Secciones", "AdminSecciones", "Admin")</li>
                </ul>
            </li>
        </ul>
    </nav>
    <!-- /#sidebar-wrapper -->
    <!-- Page Content -->
    <div id="page-content-wrapper">
        <button type="button" class="hamburger is-closed menubtn" data-toggle="offcanvas">
            <span class="hamb-top"></span>
            <span class="hamb-middle"></span>
            <span class="hamb-bottom"></span>
        </button>


        @if (TempData["estadoAgregarMateria"] != null)
        {
            <div class="container">
                <div class="alert alert-success alert-dismissable">
                    <button type="button" class="close" data-dismiss="alert">&times;</button>
                    <strong>@TempData["estadoAgregarMateria"]</strong>
                </div>
            </div>
        }
        




        @using (Html.BeginForm("EditarCuenta", "Admin", FormMethod.Post))
        {
            Html.ValidationSummary(true);
            Html.EnableClientValidation(true);


            <section class="section-padding" id="contact">
                <div class="container">
                   

                    <div class="row white">
                        <div class="col-md-8 col-md-offset-4">
                            <div class="section-title">
                                <h2 class="titulos"> Datos de Cuenta</h2>
                            </div>
                        </div>
                        <div class="col-md-11 col-md-offset-4">
                            <div class="col-md-4 col-sm-6" style="padding-left:0px;">
                                <h3 class="cont-title-login">Modifique datos o elimine la cuenta</h3>

                                @if (TempData["rol"] != null && TempData["rol"].Equals("Profesor"))
                                {
                                    <div class="text-center">
                                        <button class="btn btn-success" data-title="Agregar" data-toggle="modal" data-target="#AgregarMaterial">Agregar Materia</button>
                                    </div>
                                }
                                
                                <div class="contact-info">
                                    <form action="" method="post" role="form" class="contactForm">

                                        <div class="form-group">
                                            @Html.TextBoxFor(x => x.idPersona, new { @class = "form-control", @name = "idPersona", @readonly = true, style = "display: none;" })
                                        </div>


                                        <div class="form-group">
                                            <label for="nombre">Nombre</label>
                                            @Html.TextBoxFor(x => x.nombre, new { @class = "form-control", @name = "nombre", @placeholder = "Nombre" })

                                        </div>

                                        <div class=" form-group">
                                            @Html.Label("Apellido 1")
                                            @Html.TextBoxFor(x => x.apellido1, new { @class = "form-control", @name = "apellido1", @placeholder = "Apellido1" })

                                        </div>

                                        <div class="form-group">
                                            @Html.Label("Apellido 2")
                                            @Html.TextBoxFor(x => x.apellido2, new { @class = "form-control", @name = "apellido2", @placeholder = "Apellido2" })

                                        </div>

                                        <div class="form-group">
                                            @Html.Label("Cedula")
                                            @Html.TextBoxFor(x => x.cedula, new { @class = "form-control", @name = "cedula", @placeholder = "Cedula", onkeypress = "return justNumbers(event);" })

                                        </div>

                                        <div class="form-group">
                                            @Html.Label("Correo")
                                            @Html.TextBoxFor(x => x.correo, new { @Type = "email", @class = "form-control", @name = "correo", @placeholder = "Correo" })
                                        </div>

                                        <div class="form-group">
                                            @Html.Label("Tipo de usuario")
                                            @Html.DropDownList("dropIdTipoUsuario", (SelectList)ViewBag.TiposUsuarios, "Seleccione Tipo de usuario", new { @class = "form-control" })
                                        </div>

                                        @if (TempData["rol"] != null && TempData["rol"].Equals("Estudiante"))
                                        {
                                            <div class="form-group">
                                                @Html.Label("Seccion")
                                                @Html.DropDownList("dropIdSeccion", (SelectList)ViewBag.Secciones, "Seleccione una Seccion", new { @class = "form-control" })
                                            </div>
                                        }

                                        <div class="form-group">
                                            @Html.Label("Usuario")
                                            @Html.TextBoxFor(x => x.usuario, new { @Type = "Text", @class = "form-control", @name = "usuario", @placeholder = "Usuario" })
                                        </div>

                                        <div class="form-group">
                                            @Html.Label("Contraseña")
                                            @Html.TextBoxFor(x => x.contrasena, new { @Type = "password", @class = "form-control", @name = "contrasena", @placeholder = "Contraseña" })

                                        </div>

                                        <div class="btn-group">
                                            <button type="submit" class="btn btn-crear">Modificar Cuenta</button>
                                            <button class="btn btn-danger" data-title="Delete" data-toggle="modal" data-target="#delete">Eliminar</button>
                                        </div>

                                    </form>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </section>





        }

    </div>
    <!-- /#page-content-wrapper -->
</div>
<!-- /#wrapper -->



<!------------------------------------------------------ /Modals ------------------------------------------------------>

@if (TempData["rol"] != null && TempData["rol"].Equals("Profesor"))
{

    <div class="modal fade" id="AgregarMaterial"  role="dialog" style="overflow-y: scroll;">
        <div class=" modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></button>
                    <h4 class="modal-title custom_align" id="Heading">Agregar Materia a @Html.DisplayFor(x => x.nombre)</h4>
                </div>
                <div class="modal-body">

                    <div class="alert alert-danger"><span class="glyphicon glyphicon-warning-sign"></span>Revisar que los datos sean correctos.!</div>

                    <div class="text-center">

                        @*@using (Html.BeginForm("agregarMateriaProf", "Admin", FormMethod.Post))
                            {*@

                        <div id="agre"></div>

                        <div id="messageBox">

                        </div>

                        @using (Ajax.BeginForm("agregarMateriaProf", "Admin",null, new AjaxOptions()
                        {

                            OnSuccess = "res",
                            OnFailure = "OnFailure",
                            InsertionMode = InsertionMode.Replace,
                            UpdateTargetId = "messageBox"

                        }))
                        {


                            <div class=" form-group">
                                @Html.TextBox("idPersona", null, new { @type = "number", @class = "form-control", @name = "idPersona", @readonly = true, style = "display: none;", @Value = @Html.DisplayFor(x => x.idPersona) })
                            </div>

                            <div class="form-group">
                                @Html.Label("Materia")
                                @Html.DropDownList("dropIdMateria", (SelectList)ViewBag.MateriasPro, "Seleccione una Materia", new { @class = "form-control margenCentro", required = "required" })
                            </div>

                            <div class="form-group">
                                @Html.Label("Seccion")
                                @Html.DropDownList("dropIdSeccion", (SelectList)ViewBag.SeccionesPro, "Seleccione una Seccion", new { @class = "form-control margenCentro", required = "required" })
                            </div>

                            <div class="modal-footer " style="text-align:center">
                                <button id="btnAgregar" type="submit" class="btn btn-success"><span class="glyphicon glyphicon-ok-sign"></span> Agregar Materia</button>
                                <button type="button" class="btn btn-default" data-dismiss="modal"><span class="glyphicon glyphicon-remove"></span>Cancelar</button>
                            </div>


                            @*}*@


                        }
                    </div>



                    <div class="checkbox checkbox-success">
                        <input id="checkbox3" type="checkbox">
                        <label for="checkbox3">
                            Ver Materias
                        </label>
                    </div>

                    <div id="getSecciones">

                    </div>


                </div>

            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>
}


<div id="Eli" class="modal fade"  tabindex="-1 " role="dialog" data-backdrop="static" data-keyboard="false" aria-labelledby="edit" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></button>
                <h4 class="modal-title custom_align" id="Heading">Eliminar Materia a  @Html.DisplayFor(x => x.nombre)</h4>
            </div>
            <div class="modal-body">

                <div id="MensajeEliminarMateria"class="alert alert-danger"><span class="glyphicon glyphicon-warning-sign"></span></div>

                <div class="text-center">
                    <div class="modal-footer " style="text-align:center">
                        <button id="AceptarEliminar"  type="submit" class="btn btn-success"><span class="glyphicon glyphicon-ok-sign"></span> Eliminar</button>
                        <button id="CerrarModalEli" type="button" class="btn btn-default"><span class="glyphicon glyphicon-remove"></span>Cancelar</button>
                    </div>
                </div>

            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>




<!--Modal DELETE-->
<div class="modal fade" id="delete" tabindex="-1" role="dialog" aria-labelledby="edit" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></button>
                <h4 class="modal-title custom_align" id="Heading">Eliminar esta cuenta</h4>
            </div>
            <div class="modal-body">

                <div class="alert alert-danger"><span class="glyphicon glyphicon-warning-sign"></span> Estas seguro de que quieres eliminar esta cuenta</div>

            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-success" onclick="location.href='@Url.Action("EliminarCuenta", "Admin", new {idPersona=Model.idPersona })'"><span class="glyphicon glyphicon-ok-sign"></span> Si</button>
                <button type="button" class="btn btn-default" data-dismiss="modal"><span class="glyphicon glyphicon-remove"></span> No</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>












@section scripts{
    <script>
    
        $("#CerrarModalEli").click(function () {
            $('#Eli').modal('hide');
            $('body').removeClass('modal-open');
        });

      
        var res = function () {
            $("#dropIdMateria").prop('selectedIndex', 0);
            $("#dropIdSeccion").prop('selectedIndex', 0);

            $("#messageBox").fadeIn();
            $("#messageBox").fadeOut(2000);

            if ($('#checkbox3').is(':checked')) {

                var idProfesorA = $("#idPersona").val();

                var url="@Url.Action("VerSecciones", "Admin")";
                var data={idProfesor:idProfesorA}

                $.get(url, data).done(function (data) {
                    $("#getSecciones").html(data);
                });

                //$("#getSecciones").fadeOut();
            }

            // Cambiar estado $("#checkbox3").attr('checked', false);
            
        }


        function justNumbers(e) {
            var keynum = window.event ? window.event.keyCode : e.which;
            if ((keynum == 8) || (keynum == 46))
                return true;

            return /\d/.test(String.fromCharCode(keynum));
        }
       

        $(function () {
            $(document).on("change", "#checkbox3", function () {
                if (this.checked) {
                    $("#getSecciones").fadeIn();
                    var idProfesorA = $("#idPersona").val();

                    var url="@Url.Action("VerSecciones", "Admin")";
                    var data={idProfesor:idProfesorA}

                    $.get(url, data).done(function (data) {
                        $("#getSecciones").html(data);
                    });
                } else {
                    $("#getSecciones").fadeOut();
                }
                
            });
        });    

    </script>

}