@model IEnumerable<Bela.UI.Models.Noticia>
@{
    ViewBag.Title = "Liceo de puriscal";
    Layout = "~/Views/Shared/_Noticias.cshtml";
}


<div class="social2">
    <ul>
        <li><a data-toggle="modal" data-target="#Notificaciones" class="far fa-bell"></a></li>
    </ul>
</div>



        @if (TempData["estadoNotificacion"] != null && TempData["estadoNotificacion"].Equals("Se agrego correo"))
        {
            <div class="container">
                <div class="alert alert-success alert-dismissable">
                    <button type="button" class="close" data-dismiss="alert">&times;</button>
                    <strong>@TempData["mensaje"]</strong>
                </div>
            </div>
        }
        else if (TempData["estadoNotificacion"] != null && TempData["estadoNotificacion"].Equals("Error"))
        {
            <div class="container">
                <div class="alert alert-danger alert-dismissable">
                    <button type="button" class="close" data-dismiss="alert">&times;</button>
                    <strong>Error al agregar correo.Correo no valido o ya existe</strong>
                </div>
            </div>
        }


        <div class="container text-center">
            <h1 class="titulos">Noticias Internas</h1>
        </div>

        <section class="section--padding-bottom-small noticias">
            <div class="container">
                <div class="row">
                    @foreach (var item in Model)
                    {
                        <div class="col-sm-8 col-sm-offset-2 wow fadeInUp">
                            <div class="post">
                                <div class="image"><a onclick="location.href='@Url.Action("Detalles", "Noticia", new { idNoticia=item.idNoticia})'"><img src="@Html.DisplayFor(modelItem => item.imagen)" alt="" class="img-responsive"></a></div>
                                <h3><a onclick="location.href='@Url.Action("Detalles", "Noticia", new { idNoticia=item.idNoticia})'">@Html.DisplayFor(modelItem => item.titulo)</a></h3>
                                <p class="post__intro">@Html.DisplayFor(modelItem => item.descripcion)</p>
                                <p class="read-more"><a onclick="location.href='@Url.Action("Detalles", "Noticia", new { idNoticia=item.idNoticia})'" class="btn btn-ghost">Leer mas  </a></p>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </section>



<div class="modal fade" id="Notificaciones" tabindex="-1" role="dialog" aria-labelledby="edit" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></button>
                <h4 class="modal-title custom_align" id="Heading">Notificaciones</h4>
            </div>
            <div class="modal-body">

                <div class="alert alert-danger"><span class="glyphicon glyphicon-warning-sign"></span> Estas seguro de que quieres activar notificaciones a este correo?</div>
                @using (Html.BeginForm("ActivarNotificacionesInternas", "Usuario", FormMethod.Post))
                {
                    <form method="post">
                        <div class="form-group">
                            @Html.Label("Correo:")
                            @Html.TextBox("txtCorreo", null, new { @Type = "email", @readonly = true, @class = "form-control", @Value = Session["UserCorreo"] })
                        </div>

                        <div class="modal-footer ">
                            <button type="submit" class="btn btn-success"><span class="glyphicon glyphicon-ok-sign"></span> Si</button>
                            <button type="button" class="btn btn-default" data-dismiss="modal"><span class="glyphicon glyphicon-remove"></span> No</button>
                        </div>

                    </form>
                }
            </div>


        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>

