@model  IEnumerable<Bela.UI.Models.DetalleMaterial>


@{
    ViewBag.Title = "Liceo de puriscal";
    Layout = "~/Views/Shared/_Perfil.cshtml";
    Bela.UI.Models.MateriaDeta material=ViewBag.idMateria;
}

<div class="container text-center">
    <h1 class="titulos"><small>@material.materia    @material.seccion</small></h1>
    @if (Session["UserID"] != null && Session["rol"].Equals("Profesor"))
    {
         <h1><small>Materiales subidos a esta materia</small></h1>
    }   

    @if (Session["UserID"] != null && Session["rol"].Equals("Estudiante"))
    {
        <h1><small>Materiales subidos a esta materia por el  profesor</small></h1>
    }   

    <p><span class="glyphicon glyphicon-chevron-down"></span></p>
</div>

@if (Session["UserID"] != null && Session["rol"].Equals("Profesor"))
{
    <div class="text-center">
    <p class="iconMas" data-toggle="modal" data-target="#CrearMaterial"><span class="glyphicon glyphicon-plus"></span></p>
</div>
}
  


<section id="blog" class="section">
    <div class="container">


        <div class="row">

          
            @foreach (var item in Model) { 


            <div class="col-md-4" onclick="location.href='@Url.Action("DetalleMaterial", "Material", new {idMaterial=item.idMaterial })'">
                <div class="home-post">

                    <div class="post-meta">
                        <i class="far fa-file icon-size"></i>
                        <span class="date">@Html.DisplayFor(modelItem => item.fechaHora)</span>
                        @*<span class="tags">Hora</span>*@
                    </div>
                    <div class="entry-content">
                        <h5><strong><a href="#">@Html.DisplayFor(modelItem=>item.titulo)</a></strong></h5>
                        <p class="maxDescrip">
                            @Html.DisplayFor(modelItem=>item.mensaje)
                        </p>
                        <a href="#" class="more">Ver material</a>
                    </div>
                </div>
            </div>

            }

            @if (TempData["null"] != null)
            {
                <div class="text-center" style="margin-bottom:220px;">
               <p class="parrafos">Sin materiales a mostrar</p>
                    </div>
            }

        </div>
    </div>
</section>







@if (Session["UserID"] != null && Session["rol"].Equals("Profesor"))
{
   

  

<div class="modal fade" id="CrearMaterial" tabindex="-1" role="dialog" aria-labelledby="edit" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></button>
                <h4 class="modal-title custom_align" id="Heading">Agregar Material a @material.materia  @material.seccion</h4>
            </div>
            <div class="modal-body">

                <div class="alert alert-danger"><span class="glyphicon glyphicon-warning-sign"></span>Revisar que los datos y documentos sean correctos!</div>

                <div class="text-center">
                    @using (Html.BeginForm("CrearMateriales","Profesor", FormMethod.Post, new { enctype = "multipart/form-data" }))
                    {
                        <form method="post">
                          
                            <div class=" form-group">
                                @Html.TextBox("idMateria",null, new { @class = "form-control", @name = "idMateria", @readonly = true, style = "display: none;",@Value=@material.idDetalleMateria })
                            </div>


                            <div class=" form-group">
                                @Html.Label("Titulo")
                                @Html.TextBox("txtTitulo", null, new
                           {
                               @class = "form-control margenCentro",
                               @name = "titulo",
                               @placeholder = "Titulo",
                               @maxlength = "50",
                               required = "",
                               oninvalid = "this.setCustomValidity('Agregue un titulo al material')"
                               ,
                               oninput = "setCustomValidity('')"
                           })
                            </div>

                            <div class="form-group text-center">
                                @Html.Label("Descripcion")
                                @Html.TextArea("txtDescripcion", null, new
                           {
                               @class = "form-control  margenCentro",
                               @placeholder = "Descripcion",
                               @maxlength = "300",
                               required = "",
                               oninvalid = "this.setCustomValidity('Agregue una descripcion')"
                               ,
                               oninput = "setCustomValidity('')"
                           })
                            </div>

                            <div class="form-group">
                                <label>Material  -Obligatorio</label>

                                <input type="text" id="txtDocumento" name="txtDocumento" class="form-control margenCentro" required oninvalid="this.setCustomValidity('Agregue un documento')" oninput="setCustomValidity('')" />
                                <input type="file" onchange="cambiar()" name="uploadFile" id="file" class="form-control" style="display:none;" />
                                
                                <div class="text-center">
                                    <input type="button" value="Adjuntar material" class="btn btn-ghost" onclick="adjuntarImagen()" />
                                </div>
                            </div>

                            <div class="form-group">
                                <label>Materiales adicionales</label>
                                <br>
                                <input type="file" onchange="" name="uploadfilesMateria" id="files" class="form-control" multiple style="display:none;" />
                                <div class="text-center">
                                    <input type="button" value="Adjuntar materiales" class="btn btn-ghost" onclick="adjuntarImagenes()" />
                                </div>
                            </div>

                            <div class="modal-footer ">
                                <button type="submit" class="btn btn-success"><span class="glyphicon glyphicon-ok-sign"></span> Crear Material</button>
                                <button type="button" class="btn btn-default" data-dismiss="modal"><span class="glyphicon glyphicon-remove"></span>Cancelar</button>
                            </div>

                        </form>
                    }
                </div>
            </div>

        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>


<script>
    function adjuntarImagen() {
        document.getElementById('file').click();
        document.getElementById('txtDocumento').readOnly = true;

    }

    function adjuntarImagenes() {
        document.getElementById('files').click();

    }

    function cambiar() {
        var reader = new FileReader();
        document.getElementById('txtDocumento').value = document.getElementById('file').value;
        document.getElementById('Img').src = document.getElementById('txtDocumento').value;
        reader.readAsDataURL(this.files[0]);
    }


    function mostrarImagen(input) {
        if (input.files && input.files[0]) {
            var reader = new FileReader();
            reader.onload = function (e) {
                $('#Img').attr('src', e.target.result);
            }
            reader.readAsDataURL(input.files[0]);
        }
    }

    $("#file").change(function () {
        mostrarImagen(this);
    });



</script>
    
}